body {
	background-color: #575757;
	margin: 0px;
	overflopaw: hidden;
	font-family: Terminus;
}

a {
	outline: none;

}
#menu {
	background-color: none;
	padding: 30px 0px 30px 0px;
	text-align: center;
}
#menu a {
	font-family: Terminus;
	font-size: 14px;
	color: #f8f8f2;
	text-decoration: none;
	padding: 5px; 
}
#menu a:hover {
	color: #272822;
	background-color: #66D9EF;
}
#bgddg {
	margin-left: 15px;
	width: 530px;
	height: 34px;
	border: none;;
	background-color: #139EB9;
}
#formddg {
	width: 430px;
	border: 0px;
	background: none;
	font-size: 16px;
	font-family: Terminus;
	color: #f8f8f2;
	margin: 7px;
}

#btngo {
	border: 0px;
	border-radius: 0px;
	background-color: #B30544;
	width: 45px;
	height: 34px;
	font-size: 16px;
	text-decoration: none;
	font-family: Terminus;
	color: #f8f8f2;
	margin: 0px 0px 0px 0px;
	float: right;
	cursor:pointer;
	padding: 0px;
}

#btngo:hover {
	background-color: #F92672; 
}

#rssbutton
{
	background-color: #139EB9;
	color : #f8f8f2;
	padding:3px;
	border: none;
	border-radius: 0px;
}

#rssbutton:hover
{
	background-color: #66D9EF; 

}

.rssFeed
{
	font-family: Terminus;
}

.rssFeed a 
{
	color: #f8f8f2;
}

.rssRow div 
{
	color: #f8f8f2;
}

.odd {background-color: #272822; }
.even {background-color: #575757;}
