body {
	background-color: ##special1##;
	margin: 0px;
	overflow: hidden;
	font-family: ##font_family##;
}

a {
	outline: none;

}
#menu {
	background-color: none;
	padding: 30px 0px 30px 0px;
	text-align: center;
}
#menu a {
	font-family: Terminus;
	font-size: 14px;
	color: ##fore##;
	text-decoration: none;
	padding: 5px; 
}
#menu a:hover {
	color: ##fore##;
	background-color: #;
}
#bgddg {
	margin-left: 15px;
	width: 530px;
	height: 34px;
	border: none;;
	background-color: ##color1##;
}
#formddg {
	width: 430px;
	border: 0px;
	background: none;
	font-size: 16px;
	font-family: Terminus;
	color: ##fore##;
	margin: 7px;
}

#btngo {
	border: 0px;
	border-radius: 0px;
	background-color: ##color2##;
	width: 45px;
	height: 34px;
	font-size: 16px;
	text-decoration: none;
	font-family: Terminus;
	color: ##fore##;
	margin: 0px 0px 0px 0px;
	float: right;
	cursor:pointer;
	padding: 0px;
}

#btngo:hover {
	background-color: ##color10##; 
}

#rssbutton
{
	background-color: ##color2##;
	color : ##fore##;
	padding:3px;
	border: none;
	border-radius: 0px;
}

#rssbutton:hover
{
	background-color: ##color10##; 

}

.rssFeed
{
	font-family: Terminus;
}

.rssFeed a 
{
	color: ##fore##;
}

.rssRow div 
{
	color: ##fore##;
}

.odd {background-color: ##bckg##; }
.even {background-color: ##special1##;}
