body {
	background-color: #354F7E;
	margin: 0px;
	overflopaw: hidden;
	font-family: Terminus;
}

a {
	outline: none;

}

#menu {
	background-color: none;
	padding: 30px 0px 30px 0px;
	text-align: center;
}
#menu a {
	font-family: Terminus;
	font-size: 14px;
	color: #EBE8F8;
	text-decoration: none;
	padding: 5px; 
}
#menu a:hover {
	color: #EBE8F8;
	background-color: #D52A5A;
}
#bgddg {
	margin-left: 15px;
	width: 530px;
	height: 34px;
	border: none;;
	background-color: #7AA7EB;
}
#formddg {
	width: 430px;
	border: 0px;
	background: none;
	font-size: 16px;
	font-family: Terminus;
	color: #EBE8F8;
	margin: 7px;
}

#btngo {
	border: 0px;
	border-radius: 0px;
	background-color: #0D9668;
	width: 45px;
	height: 34px;
	font-size: 16px;
	text-decoration: none;
	font-family: Terminus;
	color: #EBE8F8;
	margin: 0px 0px 0px 0px;
	float: right;
	cursor:pointer;
	padding: 0px;
}

#btngo:hover {
	color: #EBE8F8;
	background-color: #D52A5A; 
}

#rssbutton
{
	background-color: #0D9668;
	color : #EBE8F8;
	padding:3px;
	border: none;
	border-radius: 0px;
}

#rssbutton:hover
{
	color: #EBE8F8;
	background-color: #D52A5A; 
}

.rssFeed
{
	font-family: Terminus;
}

.rssFeed a 
{
	color: #EBE8F8;
}

.rssRow div 
{
	color: #EBE8F8;
}

.odd {background-color: #223555; }
.even {background-color: #354F7E;}
