body {
	background-color: #2B3632;
	margin: 0px;
	overflopaw: hidden;
	font-family: Terminus;
}

a {
	outline: none;

}
#menu {
	background-color: none;
	padding: 30px 0px 30px 0px;
	text-align: center;
}
#menu a {
	font-family: Terminus;
	font-size: 14px;
	color: #D1D8D1;
	text-decoration: none;
	padding: 5px; 
}
#menu a:hover {
	color: #FFF4E8;
	background-color: #796157;
}
#bgddg {
	margin-left: 15px;
	width: 530px;
	height: 34px;
	border: none;;
	background-color: #796157;
}
#formddg {
	width: 430px;
	border: 0px;
	background: none;
	font-size: 16px;
	font-family: Terminus;
	color: #D1D8D1;
	margin: 7px;
}

#btngo {
	border: 0px;
	border-radius: 0px;
	background-color: #6C7957;
	width: 45px;
	height: 34px;
	font-size: 16px;
	text-decoration: none;
	font-family: Terminus;
	color: #D1D8D1;
	margin: 0px 0px 0px 0px;
	float: right;
	cursor:pointer;
	padding: 0px;
}

#btngo:hover {
	background-color: #A7B48B; 
}

#rssbutton
{
	background-color: #796157;
	color : #D1D8D1;
	padding:3px;
	border: none;
	border-radius: 0px;
}

#rssbutton:hover
{
	background-color: #A48484; 

}

.rssFeed
{
	font-family: Terminus;
}

.rssFeed a 
{
	color: #D1D8D1;
}

.rssRow div 
{
	color: #D1D8D1;
}

.odd {background-color: #2B3632; }
.even {background-color: #2B3632;}
