body {
	background-color: #545454;
	margin: 0px;
	overflopaw: hidden;
	font-family: Terminus;
}

a {
	outline: none;

}
#menu {
	background-color: none;
	padding: 30px 0px 30px 0px;
	text-align: center;
}
#menu a {
	font-family: Terminus;
	font-size: 14px;
	color: #fff4e8;
	text-decoration: none;
	padding: 5px; 
}
#menu a:hover {
	color: #FFF4E8;
	background-color: #955252;
}
#bgddg {
	margin-left: 15px;
	width: 530px;
	height: 34px;
	border: none;;
	background-color: #955252;
}
#formddg {
	width: 430px;
	border: 0px;
	background: none;
	font-size: 16px;
	font-family: Terminus;
	color: #fff4e8;
	margin: 7px;
}

#btngo {
	border: 0px;
	border-radius: 0px;
	background-color: #7A8A5D;
	width: 45px;
	height: 34px;
	font-size: 16px;
	text-decoration: none;
	font-family: Terminus;
	color: #fff4e8;
	margin: 0px 0px 0px 0px;
	float: right;
	cursor:pointer;
	padding: 0px;
}

#btngo:hover {
	background-color: #A1B67B; 
}

#rssbutton
{
	background-color: #955252;
	color : #fff4e8;
	padding:3px;
	border: none;
	border-radius: 0px;
}

#rssbutton:hover
{
	background-color: #BD6B6B; 

}

.rssFeed
{
	font-family: Terminus;
}

.rssFeed a 
{
	color: #fff4e8;
}

.rssRow div 
{
	color: #fff4e8;
}

.odd {background-color: #474848; }
.even {background-color: #545454;}
